/*```````````````之後wholepage的寬高要根據手機 電腦螢幕大小去改@media screen and (max-width:721px)*header padding應該要重新設定，標題字的大小可能也需要`````````````linear-gradient(180deg, #515a5c,#515c5e);``*/
/*````````github指令 git add text.html (把檔案放進git資料庫;if 要直接指整個資料夾裡的檔案都加進去，把"text.html"改成"."); git commit -m "註釋" (存檔入資料庫); git push -u=讓他把後面字串自動化的設定 名字=origin 網域=master `````````*/

@charset"UTF-8";

/*********************************總版面設定****************/


.top{
	color: white;
	background-image: url(leaf4.jpg); background-repeat :  ;background-size:300px; 
	font-size: 24px; text-align: center;
	line-height: 50px;

}
.header{
	position: sticky;
	top:0;
	color: white;
	background : linear-gradient(180deg, #515c5e , #555458);
	box-shadow:0 4px 5px 1px gray;
}
.content{
	color: #4e5242;
	background-color: #d8dbe1;
	font-size: 24px; text-align: left;
	line-height: 20px;
	text-align: center;
}
.sidebar{
	color: #eee;
	background-color: #555;
	font-size: 24px; text-align: left;
	line-height: 20px;
	.sidebarbox{
	height:99% ; width:97%; 
	padding: 5px 1%;
	scrolling: no;
	}
}
.footer{
	background-color: #545c5e;
	font-size: 10px; text-align: center;
}

.iframebig{
	height:99% ; width:97%; 
	padding: 5px 1%;
	scrolling: no;
}

/*********************************版面排版+大小****************/
@media screen and (max-width:820px){
	#wholepage{
		width: 100%; height: px;
		padding: 0px;
		margin: 0px auto; 
	}
	.top{
		height: 200px;
	}
	.header{
		height:43px;
		padding:6px 0 0 0;
		text-align:center;
		.titleli{
			width:17%; height: 34px;
			line-height: 34px;
			font-size: 12px; 
	 		letter-spacing: -1px;
			&:hover a{   
				font-size: 13px; 	}
			&:active a{   
				font-size: 12.5px; 	}
		}
		#titleli1{
			display: none;
		}
	}
	.content{

		padding: 10px;
	}
	.sidebar{
		display: none;
	}

	.footer{
		height: 60px;
		padding: 14px 10px 6px 10px;
	}
}

@media screen and (min-width:820px){
	#wholepage{
		width: 100%; height: px;
		padding: 0px;
		margin: 0px auto; 
	}
	.top{
		height: 200px;
	}
	.header{
		height:43px;
		padding:6px 0 0 1%;
		margin: 0 0 2px 0 ;
		text-align:center;
		.titleli{
			width:15%; height: 34px;
			margin: 0 0.5%0 0.5%;
			line-height: 34px;
			font-size: 13px; 
			float: left;	
			&:hover a{   
				font-size: 14px; 	}
			&:active a{   
				font-size: 13.5px; 	}	
			#titleli1{
				width:120px;	}
		}
		#titleli1{
	 		letter-spacing: ;
			font-size: 18px;
			border: solid 2px rgba(1,1,1,0);  
			background-color: transparent;
			box-shadow: none;
		}
	}
	.content{
		width: 80%;
		float: left;
		padding: 1.25%;
	}
	.sidebar{
		width: 15%;
		padding: 1.25%;
		float:left;
	}

	.footer{
		height: 60px;
		padding: 14px 10px 6px 10px;
		clear: both;
	}
}

/*************header裡的東西***************/
/*```````````````換華麗一點的字體```````transition 一起設定```````*/
.titleli{
	display: inline-block;
	border: solid 2px #e5efef;  border-radius:1px;
	background-color: white;
	box-shadow: 0.5px 0.3px 2px #353f3f;
	text-align: center;
	a{
 		color: black;
		font-weight:bold; 
		text-transform: uppercase;  
		text-decoration:none;
	}
	&:hover a{   
	color: white; 	}
	&:focus a{   
	font-size: 30px; color: green; 	}
}

.titlealways{
	text-align: center;
	font-size: 16px; color: #e5efef; font-weight:bold; text-transform: uppercase; text-shadow:0.5px 0.3px 3px #151f1f;
}


/************footer裡的東西*************************/
.ftable{
	padding: 7px;
	color:#a3aeb2;
}

.cellpadding{
	color:#545c5e;
}



/************CHARACTERS中的設定**********/

.characbox{
	height:150px; width:135px;
	float: left;
	border;
	margin:1%;
	background-color: #2a2f2f;
	text-align: center; 
	transition: background 2s linear;
	a{
		color: white; font-size: 14px; color: #e5efef; font-weight:bold;
		transition: color 1s;}
	&:hover {
		background-color: yellow;
		a{
		color:red;
	}}
	&:active a{
		color:green;
	}
	&:active{
		background-color: white;
	}
	.characphoto{
		height:90px; ;
		border: solid 1px black;
		margin: 10px auto 2px auto;
		border: 
	}
	i{
	text-aline: center;
	color: blue;}
}



.characintrobox {
	display: none;
	clear: both;
	border: solid 5px gray;
	background-color: white;
	margin: 0 auto 20px auto;
	width:95%; 
	font-size: 14px; color: #353f3f;	
	transition: opacity 1s;
	&:target{
		display: inline-block;
		.characbox{
			background-color: white;
		}
	}
}


/************DISCUSSION*******************/

.disscutioninside{
	h1{
	color: black;
	}
	li{	color: ;		
		text-indent:  ;
	}
	b{		color: ;		
	}
	.longword{
		word-break: break-all;
	}
	
	.popup{  
		position: fixed;
 		top: 0;
 		bottom: 0;
  		left: 0;
 	 	right: 0;
  		background: rgba(0,0,0,0.8);
  		transition: opacity 200ms;
  		visibility: hidden;
  		opacity: 0;
		.popupcontent{
    			position: relative;
			top:100px;
			margin: auto;
			height:100px;
			width: 240px;
			background: #b4b5b3;
			border: solid 3px #949593;
			border-radius: 5px;
			color:#444543;
			text-align: center;
		}
		.cancel {
	    		position: fixed;
	    		width: 100%;
    			height: 100%;
    			cursor: default;
		}
 		&:target {
    			visibility: visible;
    			opacity: 1;
		}
	}
}







/*************************chapters 裏的東西們************/



.chapterfloatontop{
	position: sticky;
	top:0;
	width: 100%;
	height: 50px;
	background: #fff /*換成跟背景一樣*/;
	text-align: center;
	div[class*="backandnext"]{
		position: relative;
		height: 50px; line-hdight: 50px;
		display: inline-block;
		margin: 0 15px;
	}
	.backandnexttransparent{
		visibility: hidden;
	}
}

h2{
	text-align: center;
}

.chaptercontent{
	text-align: justify;
	text-indent: 2em;
	p{
		margin:3px 3px;
	}
	.p{
		margin:25px 3px 5px 3px;
	}	
	.pend{
		margin: 5px 3px 25px 3px;
	}
	.b{
		font-size: 25px;
	}
	.c4paper{
		width:60%;
		margin: auto;
		text-indent: 0;
	}
}

.nextchapter{
	width:100%;
	display: block;
	margin: 5px auto 0px auto;
	text-align: center;
	h2{
		text-align: center;
		line-height: 45px;
		margin: auto;
		border: solid 3px #a9a8a9;
		border-radius: 4px;
		&:hover{
			box-shadow: inset -1px -1px 6px 1px #a9a8a9;
			cursor: pointer;
		}
	}

}

/*************************story 裏的東西們************/
.storyinside{
		column-count:2;
		column-width:200px; 
		column-gap:30px;
		column-rule: 5px dotted #eee;
	h2{
		column-span:all ;
	}


}

/*************************超連結統一換************/
	.booka{
		text-decoration: none;
		&:link{color: #a2b9cf;}
		&:hover{color: #e3e2e2;}
		&:active{color:#02192f;}
		&:visited{color:#837e92;}
	}

	.othera{
		text-decoration: none;
		&:link{color: #a2b9cf;}
		&:hover{color: #e3e2e2;}
		&:active{color:#02192f;}
		&:visited{color:#837e92;}
	}

	.chaptera{
		text-decoration: none;
		&:link{color: #a2b9cf;}
		&:hover{color: #e3e2e2;}
		&:active{color:#02192f;}
		&:visited{color:#837e92;}
	}
	.footera{
		text-decoration: underline;
		&:link{color: #a2b9cf;}
		&:hover{color: #e3e2e2;}
		&:active{color:#02192f;}
		&:visited{color:#837e92;}
	}
	




/*************************字體統一換************/

/*****chapter***/

p/*故事內容*/{

}

.alice/*故事內容的信件們1.c4報紙*/{

}














