/*```````````````之後wholepage的寬高要根據手機 電腦螢幕大小去改@media screen and (max-width:721px)*header padding應該要重新設定，標題字的大小可能也需要`````````````linear-gradient(180deg, #515a5c,#515c5e);``*/
/*````````github指令 git add text.html (把檔案放進git資料庫;if 要直接指整個資料夾裡的檔案都加進去，把"text.html"改成"."); git commit -m "註釋" (存檔入資料庫); git push -u=讓他把後面字串自動化的設定 名字=origin 網域=master `````````*/

@charset"UTF-8";



/*********************************版面排版+大小****************/
@media screen and (max-width:820px){
	#wholepage{
		width: 100%; height: px;
		padding: 0px;
		margin: 0px auto; 
	}
	.header{
		height:50px;
		padding:6px 0 0 0;
		text-align:center;
		.titleli{
			width:17%; height: 44px;
			line-height: 44px;
			font-size: 12px; 
	 		letter-spacing: -1px;
			border-width: 3px;
			&:hover{   
				font-size: 13px; 	}
			&:active{   
				font-size: 12.5px; 	}
		}
		#titleli1{
			display: none;
		}
	}
	.content{
		padding: 10px;
	}
	.sidebar{
		display: none;
	}

	.footer{
		height: 60px;
		padding: 14px 10px 6px 10px;
	}
	
	div [class ^="characintroboxcontnt"] {
		padding: 0 10px 0 0px;
		top: 80px;
		li{		font-size: 11px;	}
	}
	.storyinside{
		h4{		font-size: 16px;	}
	}
	.iframehome{
		height: 340px;
		width: 421px;
	}
	.top{
		height: 180px;
		line-height: 55px;
	}
	.topsky{
		width: 35%; height:35%;
	}
	.Playball{	
		margin: 36px 0 0 20%;
		font-size: 70px;
		text-indent: -60px;
		text-shadow: -5px -3px 2px rgba(210, 210, 225, 1);
	}
	.hometitle{	h2	{	font-size: 19px;}}
	.hometitle:hover{		h2{		font-size: 22px;	margin: 5px;}}

}

@media screen and (min-width:820px){
	#wholepage{
		width: 100%; height: px;
		padding: 0px;
		margin: 0px auto; 
	}

	.header{
		height:50px;
		padding:6px 0 0 1%;
		margin: 0 0 2px 0 ;
		text-align:center;
		.titleli{
			width:15%; height: 44px;
			margin: 0 0.3%0 0.3%;
			line-height: 44px;
			border-width: 4px;
			font-size: 13px; 
			float: left;	
			&:hover{   
				font-size: 15px; 	}
			&:active{   
				font-size: 14px; 	}	
			#titleli1{
				width:120px;	}
		}
		#titleli1{
	 		letter-spacing: ;
			font-size: 18px;
			border: solid 2px rgba(1,1,1,0);  
			background-color: transparent;
			box-shadow: none;
		}
	}
	.content{
		width: 80%;
		float: left;
		padding: 1.25%;
	}
	.sidebar{
		width: 15%; height: 815.9px;
		padding: 1.25%;
		float:left;
	}
	.phonesidbar{
		display:none;
	}

	.footer{
		height: 60px;
		padding: 14px 10px 6px 10px;
		clear: both;
	}

	div [class ^="characintroboxcontnt"] {
		padding: 0 30px 0 5px;
		top: 100px;
		li{		font-size: 14px;}
	}
	.storyinside{
		h4{		font-size: 20px;	}
	}
	.iframehome{
		height: 511px;
		width: 721px;
	}
	.top{
		height: 480px;
		line-height: 140px;
	}
	.topsky{
		width: 35%; height:75%;
	}
	.Playball{	
		margin: 100px 0 0 20%;
		letter-spacing: ;
		font-size: 170px;
		text-indent: -100px;
		text-shadow: -8px -3px 3px rgba(210, 210, 225, 1);
	}
	.hometitle{	h2	{	font-size: 29px;}}
	.hometitle:hover{		h2{		font-size: 32px;		margin: 20px;}}

}



/*********************************top****************/
.top{
	background-image: url(image/tree.png); background-repeat : no-repeat ;background-position: right;  background-size: contain;
	text-align: left;
	.topsky{
		position: absolute;
		top:0; left: 0;
		opacity: 0.7;
	}
	.Playball{
		font-family: "Satisfy";
		position: absolute;
		top:0; left: 0;		
		color: #444;

	}
}

/*************header裡的東西*********************/
.header{
	font-family: "Platypi"; font-weight: ;
	position: sticky;
	top:0;
	color: white;
	background-color: #444;
	box-shadow:0 5px 5px 1px #666;
	z-index: 1000;

	.titleli{
		display: inline-block;
		border-style: none solid none solid;  
		border-color: #a2adaa;
		border-radius:8%;
		background-color: #fefffa;
		box-shadow: 0.5px 0.3px 2px #353f3f;
		text-align: center;
		transition: all 0.3s;
		&:hover a{   
			color: #fefffa; 
		}
	}
	.titlelia{
	 	color: black;
		font-weight:bold; 
		text-transform: uppercase;  
		text-decoration:none;
		transition: all 0.05s;
		&:focus{
			color: white; 
			.titleli{
				background-color: #444;
				border-color: #828d8a;
			}
		}
		&:hover{
			color: #fefffa; 
			.titleli{
				background-color: #929d9a;
				border-color: #c2cdca;
			}
		}
	}
	.seasonlogo{
		margin: 4px 0;
		width: 90%;
		height: 45px;
	}
	.titlealways{
		text-align: center;
		font-size: 16px; color: #e5efef; font-weight:bold; text-transform: uppercase; text-shadow:0.5px 0.3px 3px #151f1f;
	}
}


/*************content裡的東西*********************/
.content{
	color: #4e5242;
	background-color: #d8dbe1;
	font-size: 24px; text-align: left;
	line-height: 20px;
	text-align: center;
}

.iframebig{
	height:800px ; width:97%; 
	padding: 5px 1%;
	scrolling: no;
}



/*************sidebar裡的東西*********************/
.sidebar{
	color: #eee;
	background : linear-gradient(180deg, #3e4145, #555 60%, #999);
	height:815.9px ; width100%;
	test-align: center;
	
	.sidbarsummer{display:none ;}	

 	.sidebarbox{
		transition: all 0.5s;
		position: relative;
		margin: 10px auto;
		padding: 5px 10px;
		width: 80%; 
		text-align: justify;
		background-color: rgba(30,30,30,0.7);
		border-radius: 5%;
		opacity: 0;
		z-index: 500;
		h3{		font-size: 15px; font-family: "Shadows Into Light"}
		p{		font-size: 12px; font-family:"Shadows Into Light","Noto Serif TC";}

		&:hover{
		cursor: crosshair;
		opacity: 1;
	
		}
	}

	.sideanimationphotoa{		position: absolute;		left:0;	opacity:0;	top:200px;	animation: a 30s ease-in-out 0s infinite normal none running;}
	.sideanimationphotob{		position: absolute;		left:0;	opacity:0;	top:200px;	animation: b 30s ease-in-out 8s infinite normal none running;}
	.sideanimationphotoc{		position: absolute;		left:0;	opacity:0;	top:200px;	animation: c 30s ease-in-out 15s infinite normal none running;}
	.sideanimationphotod{		position: absolute;		left:0;	opacity:0;	top:200px;	animation: d 30s ease-in-out 25s infinite normal none running;}

	.sideanimationphotoa1{		position: absolute;		left:0;	opacity:0;	top:200px;	animation: a 22s ease-in-out 5s infinite normal none running;}
	.sideanimationphotob1{		position: absolute;		left:0;	opacity:0;	top:200px;	animation: b 24s ease-in-out 10s infinite normal none running;}
	.sideanimationphotoc1{		position: absolute;		left:0;	opacity:0;	top:200px;	animation: c 27s ease-in-out 20s infinite normal none running;}
	.sideanimationphotod1{		position: absolute;		left:0;	opacity:0;	top:200px;	animation: d 25s ease-in-out 28s infinite normal none running;}

	.sideanimationballa{		position: absolute;		opacity:0;	top:200px;	animation: d 27s ease-in-out 2s infinite normal none running;}
	.sideanimationballb{		position: absolute;		opacity:0;	top:200px;	animation: e 25s ease-in-out 3s infinite normal none running;}
	.sideanimationballc{		position: absolute;		opacity:0;	top:200px;	animation: a 23s ease-in-out 6s infinite normal none running;}
	.sideanimationballd{		position: absolute;		opacity:0;	top:200px;	animation: b 29s ease-in-out 8s infinite normal none running;}
	.sideanimationballe{		position: absolute;		opacity:0;	top:200px;	animation: d 25s ease-in-out 9s infinite normal none running;}
	.sideanimationballf{		position: absolute;		opacity:0;	top:200px;	animation: e 23s ease-in-out 11s infinite normal none running;}
	.sideanimationballg{		position: absolute;		opacity:0;	top:200px;	animation: a 29s ease-in-out 13s infinite normal none running;}
	.sideanimationballh{		position: absolute;		opacity:0;	top:200px;	animation: e 30s ease-in-out 15s infinite normal none running;}
	.sideanimationballi{		position: absolute;		opacity:0;	top:200px;	animation: d 27s ease-in-out 18s infinite normal none running;}
	.sideanimationballj{		position: absolute;		opacity:0;	top:200px;	animation: c 25s ease-in-out 19s infinite normal none running;}
	.sideanimationballk{		position: absolute;		opacity:0;	top:200px;	animation: e 23s ease-in-out 21s infinite normal none running;}
	.sideanimationballl{		position: absolute;		opacity:0;	top:200px;	animation: b 29s ease-in-out 22s infinite normal none running;}
	.sideanimationballm{		position: absolute;		opacity:0;	top:200px;	animation: c 25s ease-in-out 25s infinite normal none running;}
	.sideanimationballn{		position: absolute;		opacity:0;	top:200px;	animation: e 23s ease-in-out 27s infinite normal none running;}
	.sideanimationballo{		position: absolute;		opacity:0;	top:200px;	animation: a 29s ease-in-out 28s infinite normal none running;}
	.sideanimationballp{		position: absolute;		opacity:0;	top:200px;	animation: d 30s ease-in-out 30s infinite normal none running;}

	.sideanimationball{
		background-color: #ccc;
		border-radius: 50%;
		width:4px;
		height: 4.3px;
	}

	.sidebottomphoto{
		margin: auto;
		width: 15%;
		object-fit: contain;
		position: absolute;

	}
	#winterbottom{		top: 1170px; left:82.5%; right:0;}

}


@keyframes a{
    0% { top:200px; left:84%; width:80px; opacity:0;}
    30% { left: 90%; width:65px; rotate: 60deg; opacity:1;}
    40% {	left: 88%;}
    100% { top: 1350px; left: 90%;  width:0; rotate:-300deg}
}
@keyframes b{
    0% { top:200px; left:87%; width:80px; opacity:0;}
    20% { left: 84%; width:65px; rotate: -40deg; opacity:1;}
    40% {	left: 88%;}
    100% { top: 1350px; left: 90%;  width:0; rotate: 300deg}
}

@keyframes c{
    0% { top:200px; left:90%; width:60px; opacity:0;}
    10% { left: 92%; width:65px; opacity:1;}
    50% {	left: 93%;}
    100% { top: 1350px; left: 90%;  width:0; rotate: 500deg}
}
@keyframes d{
    0% { top:200px; left:93%; width:70px; opacity:0;}
    40% { left: 85%; width:65px; opacity:1;}
    50% {	left: 89%;}
    100% { top: 1350px; left: 83%;  width:0; rotate: -400deg}
}
@keyframes e{
    0% { top:200px; left:94%; width:70px; opacity:0;}
    40% { left: 92%; width:65px; opacity:1;}
    50% {	left: 89%;}
    100% { top: 1350px; left: 94%;  width:0; rotate: -400deg}
}



/*************footer裡的東西*******************************/

.footer{

	height: 90px;
	background-color: #514d4e;
 	text-align: center;

	h2{	
		font-family:"Platypi"; letter-spacing: ;
		margin: 9px;
		font-size: 16px;
		color: #fff6f2;
	}
	.ftable{
		font-family:"Montserrat Subrayada";
		color:#cfc6c2;
		font-size: 11px;
	}
	.cellpadding{
		color:#514d4e;
	}

	.footera{
		/*************************************/
		text-decoration: none;
		color: #a2b9cf;
		transition: all 0.1s;
		&:hover{color: #e3e2e2;}
		&:active{color:#837e92;}
		&:visited{color:#0d091f;}
	}

}


/************CHARACTERS中的設定**********/

.characterinside{
	text-align: center;
}

.characbox{
	font-family:"Sassy Frass"; 
	height:180px; width:27%;
	float: left;
		border-style:  solid  ;  
		border-color: #2f2a2f;
		border-width: 5px 2px 5px 2px;
	border-radius: 30%;
	background-color: #e3e5e9;
	margin:2.5%;
	background-color:  #;

	text-align: center; 
	transition: all 0.4s;
	a{
		color: #2f2a2f; 
		font-size: 25px; 
		font-weight:bold;
		transition: all 0.7s;
		font-style: italic;
	}
	&:hover {
		background-color: #bab9b3;
		a{
		color: black;
		font-size: 27px;
		}
		.characphoto{
			border-width: 0.5px 8px 0.5px 8px ;;
			height:95px; 
			margin: 20px auto 2px auto;
		}
	}
	&:active {
		background-color: #2f2a2f;
		border-color: #d8dbe1 ; 
		a{
		color: #d8dbe1;
		font-size: 16px;
		}
		.characphoto{
			border-width: 0.5px 8px 0.5px 8px ;;
			border-color: #d8dbe1 ; 
			height:95px; 
			margin: 20px auto 2px auto;
		}
	}

	.characphoto{
		transition: all 0.7s;
		height:90px; ;
		border-style:  solid  ;  
		border-color: #2f2a2f;
		border-width:0.5px 5px 0.5px 5px ;
		border-radius: 30%;
		margin: 25px auto 2px auto;
		border: 
	}
}


.characintrobox{  
		position: absolute;
 		top: 0;
  		left: 0;
 	 	right: 0;
		height: 2100px;
		background-color: rgba(0,0,0,0.8);	
  		transition: opacity 200ms;
  		visibility: hidden;
  		opacity: 0;
		text-align: left;
		transition: all 0.4s;
		.cancel {
	    		position: fixed;
	    		width: 100%;
    			height: 100%;
    			cursor: default;
		}
 		&:target {
    			visibility: visible;
    			opacity: 1;
		}
}

	/*	.characintroboxcontnta{ 		top:100px;	}
		.characintroboxcontntb{ 		top:100px;	}
		.characintroboxcontntc{ 		top:100px;	}
		.characintroboxcontntd{ 		top:650px;	}
		.characintroboxcontnte{ 		top:150px;	}
		.characintroboxcontntf{ 		top:150px;	}
		.characintroboxcontntg{ 		top:200px;	}
		.characintroboxcontnth{ 		top:200px;	}
		.characintroboxcontnti{ 		top:200px;	}
		.characintroboxcontntj{ 		top:250px;	}
		.characintroboxcontntk{ 		top:250px;	}
		.characintroboxcontntl{ 		top:250px;	}*/	

div [class ^="characintroboxcontnt"] {
    	position: relative;
	padding: 5px 15px;
	margin: auto;
	width: 90%;
	background: #d3d1cd;
	border-radius: 5px;
	color:#444;
	text-align: center;
	h3{
		font-family:"Rock Salt"; letter-spacing:2px;
		font-size: 17px;
		line-height: 60px;
		width: 95%;
		margin: 18px auto;
		background-color: #73716d;
		border-radius: 5px;
		color: #fff;
		box-shadow: 0 4px 7px #afb1af;
	}
	ul{
		font-family:"Platypi"; 
		margin: 20px 15px 20px 0 ;
		text-align: left;
	}

}

/************DISCUSSION*******************/

.disscutioninside{
	text-align: center;
	h1{
	font-family:"Protest Guerrilla";
	font-size: 50px;
	color: #40303d;
	}
	li{
		text-align: left;
		font-family:"Libre Bodoni","Noto Serif TC";	color: ;		
		text-indent:  ;
	}
	b{		color: ;		
	}
	.longword{
		word-break: break-all;
	}
	.othera{
		transition: 0.2s;
		color: #888807;
		text-decoration: underline;
		&:hover{color: #392808;}
		&:active{color:#848f84;}
		&:visited{color:#b47f84;}
	}
	.popup{  
		position: fixed;
 		top: 0;
 		bottom: 0;
  		left: 0;
 	 	right: 0;
  		background: rgba(0,0,0,0.8);
  		transition: opacity 200ms;
  		visibility: hidden;
  		opacity: 0;
		.popupcontent{
    			position: relative;
			top:100px;
			margin: auto;
			height:100px;
			width: 240px;
			background: #b4b5b3;
			border: solid 3px #949593;
			border-radius: 5px;
			color:#444543;
			text-align: center;
		}
		.cancel {
	    		position: fixed;
	    		width: 100%;
    			height: 100%;
    			cursor: default;
		}
 		&:target {
    			visibility: visible;
    			opacity: 1;
		}
	}
}




/*************************chapters 裏的東西們************/

.chapterfloatontop{
	position: sticky;
	top:0;
	width: 100%;
	height: 50px;
	background: #d8dbe1 /*換成跟背景一樣*/;
	color: #8a8e91;
	box-shadow: 0 3px 2px #c9c8c9;
	text-align: center;
	cursor: crosshair;
	transition: color 0.3s;
	&:hover{ 
		color: #3a3e41;
	}
	div[class*="backandnext"]{
		font-family: "Montserrat Subrayada";  font-weight: ; letter-spacing:1px;
		position: relative;
		height: 50px; line-hdight: 50px;
		display: inline-block;
		margin: 0 6%;
		a{
		color: #8a8e91;
		text-decoration: none;
		transition: all 0.2s;
		}
		&:hover{
			a{
				color: #6f4343;
				font-weight: bold;
				text-shadow: 0 1px 1px #fff;
			}
		}
		&:active{color:#02192f;}
		&:visited{color:#837e92;}
	}
	.backandnexttransparent{
		visibility: hidden;
	}
}

h2{
	margin: 30px 0 0 0;
	font-family: "Platypi";; font-weight: bold; 
	color: #112423;
	text-align: center;
}

.chaptercontent{
	font-family: "Spectral"; letter-spacing: -0.2px;
	color: #112423;
	text-align: justify;
	text-indent: 2em;
	p{
		margin:3px 3px;
	}
	.p{
		margin:25px 3px 5px 3px;
	}	
	.pend{
		margin: 5px 3px 25px 3px;
	}
	.b{
		font-size: 25px;
	}
	.c4paper{
		width:60%;
		margin: auto;
		text-indent: 0;
	}
}

.nextchapter{

	width:80%;
	display: block;
	margin: 5px auto 0px auto;
	text-align: center;
	a{
		text-decoration: none;	
	}
	h2{
		font-family: "Montserrat Subrayada";
		font-size: 15px;
		text-align: center;
		line-height: 45px;
		margin: 20px auto;
		border-radius: 2px;
		color: #8a8e91;
		box-shadow: inset -1px -2px 8px #c9c8c9;	
		transition: all 0.2s;
		&:hover{
			box-shadow: inset -1px -2px 5px #a9a8a9;	
			cursor: pointer;
			color: #5a5e61;
		}
		&:active{
			box-shadow: inset 0.3px 1px 5px #a9a8a9;
			cursor: pointer;
			color: #1a1e21;
		}
	}

}

/*************************story 裏的東西們************/
.bookone {
	margin: 50px auto 30px auto;
	font-size: 50px;
	font-family: "Shadows Into Light"; font-weight: bold;
	}

.storyinside{
		column-count:2;
		column-width:150px; 
		column-gap:30px;
		column-rule: 2px solid #5a5651;

	h4{
		margin: 10px 1% 0 7%;
		line-height: 25px;	
		font-size: 17px;
		text-decoration: none;
		a {color: #37323a;}
	}
	p{
		break-before:column;
		visibility: hidden;
		line-height: 0.1px;

	}

	.booka{
		font-family: "Rock Salt";
		transition: all 0.1s;
		text-decoration: none;
		&:hover{
			color: #fff;
			font-size: 18px;
			text-shadow: -1px 0.3px 3px #483325;
		}
		&:active{color:#111;}
	}

}
/************************HOME************/

.iframehome{
	border: none;
}

.homeinside{
	text-align: center;
}

.hometitle{	
	font-family:"Protest Revolution" ;
	width: 80%; height: 160px;
	margin: auto;
	padding: 0 0 10px 0;
	transition: all 2.5s;
	border-radius: 30%;
	p{
		margin: 8px;
		line-height: 18px;
		transition: all 2.5s;
		color: #3f5353;
	}
	h2{
		font-family:"Rock Salt" ;
		margin: 30px;
		color: #3f5353;
		transition: all 2.5s;
	}
	&:hover{	
		width: 90%; height: 170px;
		h2{		color: #5f6453;}
		p{		font-size: 20px;	color: #71746d;}
		
	}
}

.phonesidbar{
	font-family:"Shadows Into Light","";
	margin: 30px 40px; 
	padding: 10px 25px;
	border-radius: 20px;
	background-color: rgba(161, 158, 140, 0.4);
	color: #43473a;
	opacity: 0;
	transition: all 1s;
	box-shadow: 1px 1px 7px #777;
	&:hover{
		opacity: 0.9;
	}
}

/************************GADGETS*******font-weight: bold; *****/
.gadgetsinside{
	text-align: center;
	font-family: "Josefin Sans"; 
}

.gadgetss{
	column-count: 3;
	column-width: 160px;
	.gadgetsbox{break-inside: avoid;}
}

.gadgetsbox{
	padding: 7px;
	width: 95%; 
	vertical-align: middle;
	text-align: center;
	margin: 0 auto 20px; auto;
	border-radius: 5%;
	transition: background 0.4s linear;
	.gadgetswhat{
		text-align: center;
	}
	.gadgetsphoto {
		z-index: 10;
		height:90px; 
		margin: 15px auto 2px auto;
	}	
	.gadgetsphotoa {
		z-index: 10;
		height:90px; 
		margin: 0 auto 2px auto;
	}	
	.gadgetsname{
		font-weight: bold;
		margin: 5px;
	}
	.gadgetsintrobox{ 
		display: none;
	}
	&:hover{
		cursor : crosshair;
		background-color: #ececef;
		.gadgetsphoto{
			display: none;
		}
		.gadgetsname{
			font-size: 17px;
			margin: 15px;
		}
		.gadgetsintrobox{ 
			width: 70%;
			margin: 0 auto;
			display: block;
    			opacity: 1;
			font-size: 13px;
			color: #7a7b7d;
			li{
				text-align: left;
				text-indent: 5px;
				list-style-type: armenian;
			}
		}


}


/************************超連結統一換************/





	




/*************************字體統一換************/



.Playball/*top封面頁的標題*/{

}

/*****chapter***/

p/*故事內容*/{

}

.alice/*故事內容的信件們1.c4報紙*/{
	font-family: {"Alice"}
}


.momreadingbook /*c2中Aestas在做夢中他媽念的故事書內容*/{

}







